/*
This file is used to contain all abstracts imports.
*/
/* Variables */
/**
 * theme-aware - Change color of a css property based on the currently active theme
 *
 * @param  {key}     CSS property
 * @param  {color}   Color name defined in the themes under _color-palette.scss
 *
 * @example - @include theme-aware('background', 'color-background');
 * @returns - background: #FFF;
 */
/*
    Display
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
header, .navbar, .navbar-left, .navbar-search-button, .navbar-right, .navbar-notification > a, .dropdown-notification .notification-item a, .dropdown-profile .profile-item > a, .sidebar-nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
      Flex direction
   */
/*
      Flex wrap
   */
/*
      Flex flow
   */
/*
      Order
   */
/*
      Flex grow
   */
/*
      Flex shrink
   */
/*
      Flex basis
   */
/*
      Flex
   */
/*
      Justify content
   */
.navbar-search-button, .navbar-notification > a {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
}

.navbar {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

/*
      Align items
   */
.navbar-left, .navbar-search-button, .navbar-notification > a, .dropdown-profile .profile-item > a, .sidebar-nav .nav-link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
}

/*
      Align self
   */
.navbar-search {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  -ms-grid-row-align: center;
      align-self: center;
}

/*
      Align content
   */
/*
This file is used to contain all base imports.
*/
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: normal;
  overflow-x: hidden;
}

.theme-light body {
  color: #333333;
}

.theme-dark body {
  color: #e4e6eb;
}

.theme-light body {
  background-color: #ffffff;
}

.theme-dark body {
  background-color: #35363A;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold, .badge, .sidebar-nav .nav-group .nav-group-title {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-extrabold {
  font-weight: 800;
}

.theme-light .text-primary {
  color: #333333;
}

.theme-dark .text-primary {
  color: #e4e6eb;
}

.theme-light .text-secondary, .theme-light .sidebar-nav .nav-group .nav-group-title, .sidebar-nav .nav-group .theme-light .nav-group-title {
  color: #7e7e7e;
}

.theme-dark .text-secondary, .theme-dark .sidebar-nav .nav-group .nav-group-title, .sidebar-nav .nav-group .theme-dark .nav-group-title {
  color: #b0b3b8;
}

.text-uppercase, .sidebar-nav .nav-group .nav-group-title {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.divider {
  width: 100%;
  border-bottom: 1px solid;
  height: 1px;
  overflow: hidden;
}

.theme-light .divider {
  border-color: #e7ebf1;
}

.theme-dark .divider {
  border-color: #363738;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  border: 0;
  background: transparent;
  color: inherit;
  outline: 0;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: var(--text-secondary);
}

input:-ms-input-placeholder {
  color: var(--text-secondary);
}

input::-ms-input-placeholder {
  color: var(--text-secondary);
}

input::placeholder {
  color: var(--text-secondary);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 12px;
}

/*
This file is used to contain all components imports.
*/
.has-dropdown {
  position: relative;
}

.dropdown-header, .dropdown-footer {
  padding: 15px 20px;
}

.dropdown-menu {
  position: absolute;
  min-width: 10rem;
  padding: 8px 0;
  top: 100%;
  border: 1px solid;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none;
}

.theme-light .dropdown-menu {
  background: #ffffff;
}

.theme-dark .dropdown-menu {
  background: #35363A;
}

.theme-light .dropdown-menu {
  border-color: #e7ebf1;
}

.theme-dark .dropdown-menu {
  border-color: #363738;
}

.dropdown-menu.show {
  display: block;
}

.badge {
  background: #3367D6;
  color: #fff;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 4px;
  margin-left: 8px;
  display: inline-block;
}

.badge.danger {
  background-color: #dc3545;
}

.badge.success {
  background-color: #198754;
}

.badge.warning {
  background-color: #ffc107;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  -webkit-transition: height ease 1000ms;
  transition: height ease 1000ms;
}

/*
This file is used to contain all layouts imports.
*/
/* Header */
.toggle-sidebar, .navbar-notification > a {
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 65px;
  padding: 10px 12px;
  border-bottom: 1px solid;
  background-color: inherit;
  z-index: 99;
}

.theme-light header {
  border-color: #e7ebf1;
}

.theme-dark header {
  border-color: #363738;
}

header i {
  font-size: 24px;
}

.theme-light header .dropdown-toggle.show:not(.profile-toggle) {
  background: #f3f5f8;
}

.theme-dark header .dropdown-toggle.show:not(.profile-toggle) {
  background: #18191a;
}

.navbar {
  -webkit-box-flex: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.navbar-brand h1 {
  font-weight: 800;
}

.toggle-sidebar {
  margin-right: 15px;
}

.theme-light .toggle-sidebar:active {
  background: #f3f5f8;
}

.theme-dark .toggle-sidebar:active {
  background: #18191a;
}

.navbar-search {
  max-width: 400px;
  width: 100%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid;
  border-radius: 4px;
}

.theme-light .navbar-search {
  background: #f6f6f6;
}

.theme-dark .navbar-search {
  background: #3a3b3c;
}

.theme-light .navbar-search {
  border-color: #e7ebf1;
}

.theme-dark .navbar-search {
  border-color: #363738;
}

.navbar-search-button {
  -webkit-flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 40px;
  height: 35px;
}

.theme-light .navbar-search-button {
  color: #333333;
}

.theme-dark .navbar-search-button {
  color: #e4e6eb;
}

.navbar-search-button i {
  font-size: 18px;
}

.theme-light .navbar-search-button i {
  color: #7e7e7e;
}

.theme-dark .navbar-search-button i {
  color: #b0b3b8;
}

.navbar-search-input {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 8px 15px 8px 0;
  font-size: 14px;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.navbar-notification {
  margin-right: 15px;
}

.theme-light .navbar-notification > a:active {
  background: #f3f5f8;
}

.theme-dark .navbar-notification > a:active {
  background: #18191a;
}

.navbar-notification-badge {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 10px;
  font-weight: 500;
  background-color: #dc3545;
  color: #fff;
  padding: 3px 5.5px;
  border-radius: 50px;
}

.navbar-profile img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.dropdown-notification {
  padding: 0;
  width: 350px;
  right: 0;
}

.dropdown-notification .notification-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid;
  font-weight: 600;
  font-size: 16px;
}

.theme-light .dropdown-notification .notification-header {
  border-color: #e7ebf1;
}

.theme-dark .dropdown-notification .notification-header {
  border-color: #363738;
}

.dropdown-notification .notification-header a {
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
}

.theme-light .dropdown-notification .notification-header a {
  color: #7e7e7e;
}

.theme-dark .dropdown-notification .notification-header a {
  color: #b0b3b8;
}

.dropdown-notification .notification-header a:hover {
  color: #3367D6;
}

.dropdown-notification .notification-list {
  max-height: calc(100vh - 160px);
  overflow-y: auto;
}

.dropdown-notification .notification-item {
  -webkit-transition: background ease 0.4s;
  transition: background ease 0.4s;
}

.dropdown-notification .notification-item a {
  padding: 15px 20px;
}

.theme-light .dropdown-notification .notification-item:hover {
  background: #f6f6f6;
}

.theme-dark .dropdown-notification .notification-item:hover {
  background: #3a3b3c;
}

.dropdown-notification .notification-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-notification .notification-info {
  padding-left: 15px;
}

.dropdown-notification .notification-info .title {
  margin-bottom: 5px;
}

.dropdown-notification .notification-info .sub-title {
  font-size: 13px;
}

.theme-light .dropdown-notification .notification-info .sub-title {
  color: #7e7e7e;
}

.theme-dark .dropdown-notification .notification-info .sub-title {
  color: #b0b3b8;
}

.dropdown-notification .notification-footer {
  text-align: center;
  border-top: 1px solid;
}

.theme-light .dropdown-notification .notification-footer {
  border-color: #e7ebf1;
}

.theme-dark .dropdown-notification .notification-footer {
  border-color: #363738;
}

.dropdown-notification .notification-footer a {
  cursor: pointer;
}

.theme-light .dropdown-notification .notification-footer a {
  color: #7e7e7e;
}

.theme-dark .dropdown-notification .notification-footer a {
  color: #b0b3b8;
}

.dropdown-notification .notification-footer a:hover {
  color: #3367D6;
}

.dropdown-profile {
  right: 0;
  width: 160px;
}

.dropdown-profile .profile-item > a {
  padding: 10px 15px;
}

.theme-light .dropdown-profile .profile-item > a:hover, .theme-light .dropdown-profile .profile-item > a:active, .theme-light .dropdown-profile .profile-item > a:focus {
  background: #f6f6f6;
}

.theme-dark .dropdown-profile .profile-item > a:hover, .theme-dark .dropdown-profile .profile-item > a:active, .theme-dark .dropdown-profile .profile-item > a:focus {
  background: #3a3b3c;
}

.dropdown-profile .profile-item i {
  margin-right: 10px;
  font-size: 20px;
}

.theme-light .dropdown-profile .profile-item i {
  color: #7e7e7e;
}

.theme-dark .dropdown-profile .profile-item i {
  color: #b0b3b8;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 65px;
  height: 100vh;
  background-color: inherit;
}

.sidebar-nav {
  width: 250px;
  padding: 20px 0;
}

.sidebar-nav .nav-item.active > .nav-link {
  color: #3367D6;
}

.theme-light .sidebar-nav .nav-item.active > .nav-link {
  background: #f3f5f8;
}

.theme-dark .sidebar-nav .nav-item.active > .nav-link {
  background: #18191a;
}

.sidebar-nav .nav-item.active > .nav-link::before {
  content: '';
  height: 100%;
  width: 3px;
  background: #3367D6;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.sidebar-nav .nav-item.active > .nav-link-arrow {
  color: #3367D6;
}

.sidebar-nav .nav-link {
  padding: 10px 15px;
  position: relative;
  font-weight: 500;
  -webkit-transition: background ease 0.4s;
  transition: background ease 0.4s;
}

.sidebar-nav .nav-link i {
  font-size: 18px;
}

.sidebar-nav .nav-link:hover, .sidebar-nav .nav-link:active {
  color: #3367D6;
}

.theme-light .sidebar-nav .nav-link:hover, .theme-light .sidebar-nav .nav-link:active {
  background: #f3f5f8;
}

.theme-dark .sidebar-nav .nav-link:hover, .theme-dark .sidebar-nav .nav-link:active {
  background: #18191a;
}

.sidebar-nav .nav-link:hover .nav-link-icon, .sidebar-nav .nav-link:active .nav-link-icon {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.sidebar-nav .nav-link:hover .nav-link-arrow, .sidebar-nav .nav-link:active .nav-link-arrow {
  color: #3367D6;
}

.sidebar-nav .nav-link-icon {
  margin-right: 15px;
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
}

.sidebar-nav .nav-link-arrow {
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -9px;
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
}

.theme-light .sidebar-nav .nav-link-arrow {
  color: #7e7e7e;
}

.theme-dark .sidebar-nav .nav-link-arrow {
  color: #b0b3b8;
}

.sidebar-nav .nav-link-arrow i {
  font-size: 14px;
}

.sidebar-nav .nav-collapsable.open > .nav-link, .sidebar-nav .nav-collapsable.open .nav-link-arrow {
  color: #3367D6;
}

.sidebar-nav .nav-collapsable.open .nav-link-arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sidebar-nav .nav-group .nav-group-title {
  font-size: 11px;
  padding: 0 15px;
  margin-bottom: 8px;
  margin-top: 15px;
}

.sidebar-nav .nav-group:first-child .nav-group-title {
  margin-top: 0;
}

.sidebar-nav .nav-collapsable-items > .nav-item .nav-link {
  padding-left: 48px;
}

.sidebar-nav .nav-collapsable-items.open {
  display: block;
}

/* Layout */
main {
  width: 100%;
  min-height: 100%;
  padding: 65px 0 0 250px;
}

.theme-light main {
  background: #f3f5f8;
}

.theme-dark main {
  background: #18191a;
}

/*
This file is used to contain all pages imports.
*/
/*
This file is used to contain all vendors imports.
*/
/*
This file is used to contain all themes imports.
*/
/*# sourceMappingURL=styles.css.map */