.breadscrumb {
  display: block;
  margin-bottom: 25px;
  @include theme-aware('color', 'text-tertiary');
  &-item {
    display: inline-block;
    position: relative;

    &:not(.current){
      &:hover {
        @include theme-aware('color', 'color-primary');
      }
    }
  }

  &-item + &-item {
    padding-left: 23px;
    &::before {
      content: '\ec8f';
      font-family: boxicons;
      display: inline-block;
      font-size: 1.2rem;
      position: absolute;
      left: 6px;
      bottom: 2px;
    }
  }
}