.has-dropdown {
    position: relative;
}

.dropdown-header, .dropdown-footer {
    padding: 15px 20px;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 10rem;
    padding: 8px 0;
    top: 100%;
    @include theme-aware('background', 'bg-primary');
    border: 1px solid;
    @include theme-aware('border-color', 'border-color-primary');
    border-radius: 12px;
    z-index: 1000;
}

.dropdown-item {
    padding: 8px 20px;
    transition: background ease $transition;

    &:hover {
        @include theme-aware('background', 'bg-tertiary');
    }
}

.dropdown-menu.show {
    display: block;
}