.form-group {
  position: relative;
  margin-bottom: 1.5rem;

  label {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
}

.form-control {
  display: block;
  width: 100%;
  border: 1px solid;
  @include theme-aware('border-color', 'border-color-input');
  border-radius: 2px;
  padding: 0.8rem 1.2rem;
  color: inherit;
  &:focus {
    border-color: lighten(map-get($colors , primary), 30%) ;
  }
  &::placeholder {
    @include theme-aware('color', 'text-tertiary');
  }
}