.slide-fullscreen {
  height: 400px;
  position: relative;

  .slide-list, .slide-item {
    height: 100%;
  }
  .slide-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &:not(.active){
      visibility: hidden;
      opacity: 0;
    }

    &.is-showing, &.is-hiding {
      animation-fill-mode: both;
      animation-duration: $transition;
    }
    &.is-showing {
      animation-name: scaleShow; 
    }
    &.is-hiding {
      animation-name: scaleHide;
    }
  }

  .slide-nav {
    .nav-prev, .nav-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      padding: 5px;
      color: #fff;
      background: rgba($color: #000000, $alpha: 0.3);
      transition: background ease $transition;
      cursor: pointer;
      font-size: 2rem;
      border-radius: 4px;

      &:hover {
        background: rgba($color: #000000, $alpha: 0.5);;
      }
    }

    .nav-prev {
      left: 1rem;
    }

    .nav-next {
      right: 1rem;
    }
  }

  .slide-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5rem;

    .dot {
      width: 7px;
      height: 7px;
      display: inline-block;
      border-radius: 3.5px;
      background: #fff;
      margin: 0 5px;
      transition: background ease $transition;

      &.is-active {
        background: $primary;
      }
    }
  }

  .caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 10px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
}
.bg-fullscreen-1, .bg-fullscreen-2, .bg-fullscreen-3 {
  @extend .slide-item;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-fullscreen-1 {
  background: url('./../assets/images/carousel/fullscreen-1.jpg');
}

.bg-fullscreen-2 {
  background: url('./../assets/images/carousel/fullscreen-2.jpg');
}

.bg-fullscreen-3 {
  background: url('./../assets/images/carousel/fullscreen-3.jpg');
}

[class*="bg-fullscreen-"]{
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
  }
}