.slide-fullscreen {
  height: 300px;
  position: relative;
  overflow: hidden;

  .slide-list, .slide-item {
    height: 100%;
  }
  .slide-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;


    &.is-showing, &.is-hiding {
      animation-fill-mode: both;
      animation-duration: $transition;
    }
    &.is-showing {
      animation-name: scaleShow; 
    }
    &.is-hiding {
      animation-name: scaleHide;
    }
  }

  .slide-item.active{
    visibility: visible;
    opacity: 1;
  }

  .slide-nav {
    .nav-prev, .nav-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      padding: 5px;
      color: #fff;
      background: rgba($color: #000000, $alpha: 0.3);
      transition: background ease $transition;
      cursor: pointer;
      font-size: 2rem;
      border-radius: 4px;
      z-index: 2;

      &:hover {
        background: rgba($color: #000000, $alpha: 0.5);;
      }
    }

    .nav-prev {
      left: 1rem;
    }

    .nav-next {
      right: 1rem;
    }
  }

  .slide-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    z-index: 1;

    .dot {
      width: .7rem;
      height: .7rem;
      display: inline-block;
      border-radius: 3.5px;
      background: #fff;
      margin: 0 5px;
      transition: background ease $transition;

      &.is-active {
        background: $primary;
      }
    }
  }

  .caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 1rem;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

  .slideInLeft {
    animation-name: slideInLeft;
   }
  
  .slideInRight {
    animation-name: slideInRight;
  }
  
  .slideOutLeft {
    transform: translateX(-100%);
  }
  
  .slideOutRight {
    transform: translateX(100%);
  }
}
.bg-1, .bg-2, .bg-3 {
  @extend .slide-item;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-1 {
  background-image: url('./../assets/images/carousel/fullscreen-1.jpg');
}

.bg-2 {
  background-image: url('./../assets/images/carousel/fullscreen-2.jpg');
}

.bg-3 {
  background-image: url('./../assets/images/carousel/fullscreen-3.jpg');
}

[class*="bg-fullscreen-"]{
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
  }
}



#slideFullscreen2 {
  .slide-item.active{
   z-index: 1;
  }

  .slide-item-content {
    position: absolute;
    bottom: 3rem;
    left: 0;
    max-width: 50%;
    width: 100%;
    transform: translateY(100%);
    opacity: 0;
    transition: transform ease $transition 200ms, opacity ease $transition 200ms;
    background: rgba($color: #fff, $alpha: 0.8);
    color: #333;
    padding: 1rem;
    
    h3 {
      margin-bottom: .5rem;
    }
  }

  .slide-item.active .slide-item-content {
    transform: translateY(0);
    opacity: 1;
  }
}