.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;

  .badge {
    margin-left: 0;
    padding: 5px 10px;
    border-radius: 10rem;
  }

  > thead > tr > th {
    position: relative;
    padding: 16px;
    overflow-wrap: break-word;
    text-align: left;
    border-bottom: 1px solid;
    font-weight: $font-weight-semibold;
    @include theme-aware('border-color', 'border-color-secondary');
  }

  > tbody > tr > td {
    padding: 16px;
    border-bottom: 1px solid;
    @include theme-aware('border-color', 'border-color-secondary');
    @include theme-aware('color', 'text-secondary');
  }

  > tbody > tr {
    transition: background ease $transition;
    &:hover {
      @include theme-aware('background','bg-tertiary');
    }
  }
}