.toast-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  color: $white;
  z-index: 999;

  .toast {
    display: block;
    max-width: 300px;
    overflow: hidden;
    padding: 15px;
    pointer-events: auto;
    flex-shrink: 0;
    border-radius: 2px;
    font-size: 13px;
    display: flex;
    align-items: center;
    position: relative;

    &--success {
      background: $success;
    }

    &--error {
      background: $danger;
    }

    &--warning {
      background: $warning;
    }

    &--dismissable {
      padding-right: 40px;
    }

    &--lower {
      margin-top: 10px;
    }

    &-icon {
      width: 22px;
      height: 22px;
      margin-right: 15px;
      font-size: 13px;
      position: relative;
      border-radius: 50%;
      background: $white;
     

      &--success {
        color: $success;
        &::before, &::after {
          content: '';
          position: absolute;
          background: currentColor;
          width: 3px;
          border-radius: 2px;
        }

        &::before {
          height: 6px;
          transform: rotate(-45deg);
          top: 10.5px;
          left: 6.5px;
        }

        &::after {
          height: 11px;
          top: 6px;
          left: 11px;
          transform: rotate(45deg);
        }
      }

      &--error {
        color: $danger;
        &::before, &::after {
          content: '';
          position: absolute;
          background: currentColor;
          width: 2px;
          height: 12px;
          border-radius: 2px;
          top: calc(50% - 6px);
          left: calc(50% - 1px);
        }

        &::before {
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }
      }
    }

    &-dismiss {
      position: absolute;
      width: 24px;
      height: 100%;
      right: 0;
      top: 0;
      background: rgba($color: #000000, $alpha: 0.1);
      transition: background ease $transition;
      opacity: .6;

      &:hover {
        background: rgba($color: #000000, $alpha: 0.2);
      }

      &::before, &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 12px;
        background: darken($white, 10%);
        top: calc(50% - 6px);
        left: calc(50% - 1px);
      }

      &::before {
        transform:rotate(-45deg);
      }

      &::after {
        transform:rotate(45deg);
      }
    }
  }
}