/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 65px;
    height: 100%;
    width: 250px;
    background-color: inherit;
    transition: width ease $transition, transform ease $transition;
    overflow: hidden;
    border-right: 1px solid;
    z-index: 99;
    @include theme-aware('border-color', 'border-color-secondary');

    &-overlay {
        position: fixed;
        left: 0;
        top: 65px;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        display: none;
        z-index: -1;

        .sidebar-open & {
            display: block;
            z-index: 98;
        }
    }

    .sidebar-minimized & {
        width: 58px;

        &:hover {
             width: 250px;
        }
    }

    @media(max-width: 991px){
        & {
            transform: translateX(-250px);
        }
    }

    .sidebar-open & {
        transform: translateX(0);
    }

    .sidebar-hidden & {
        transform: translateX(-250px);
    }
}

.sidebar-nav {
    width: 250px;
    padding: 20px 0;
    height: calc(100% - 65px);
    overflow: hidden;
    

    .nav-item.active {
        > .nav-link{
            color: $primary;
            @include theme-aware('background', 'bg-secondary');
            &::before {
                content: '';
                height: 100%;
                width: 3px;
                background: $primary;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                border: 1px solid transparent;
                border-radius: 10rem;
            }

            &-arrow {
                color: $primary;
            }
        }
    }
    .nav-link {
        @include display-flex;
        @include align-items(center);
        padding: 10px 20px;
        position: relative;
        transition: background ease $transition;
        cursor: pointer;
        font-weight: $font-weight-medium;

        i {
            font-size: 1.8rem;
        }
        
        &:hover, &:active {
            @include theme-aware('background', 'bg-secondary');

            .nav-link-icon {
                transform: rotateY(180deg);
            }

            
        }

        &:hover:not(.nav-link-toggle){
            color: $primary;
            .nav-link-arrow {
                color: $primary;;
            }
           
        }

        &-icon {
            margin-right: 15px;
            transition: transform ease $transition;
        }

        &-arrow {
            position: absolute;
            top: 50%;
            right: 30px;
            margin-top: -9px;
            transition: transform ease $transition;

            i {
                font-size: 1.4rem;
            }
        }

        &-title {
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            transition: opacity ease $transition;
            .sidebar-minimized & {
                opacity: 0;
            }

            .sidebar-minimized .sidebar:hover & {
                opacity: 1;
            }
        }

         
    };

    .nav-collapsable.open {
        > .nav-link,  .nav-link-arrow{
            color: $primary;;
        }
        .nav-link-arrow {
            transform: rotate(90deg);
        }
    }
    .nav-group {
        .nav-group-title {
            font-size: 1.2rem;
            padding: 0 20px;
            margin-bottom: 8px;
            margin-top: 15px;
            text-transform: uppercase;
            font-weight: $font-weight-medium;
            @include theme-aware('color', 'text-tertiary');
            height: 13px;
            overflow: hidden;
            transition: height ease $transition, opacity ease $transition, margin ease $transition;

            .sidebar-minimized & {
                opacity: 0;
                height: 0;
                margin: 0;
            }

            .sidebar-minimized .sidebar:hover & {
                opacity: 1;
                height: 13px;
                margin-bottom: 8px;
                margin-top: 15px;
            }
        }

        .sidebar-minimized .sidebar:hover &:first-child, &:first-child{
            .nav-group-title {
                margin-top: 0;
            }
        }
    }

    .nav-collapsable-items {
        display: none;
        > .nav-item {
            .nav-link {
                padding-left: 53px;
            }
        }

        &.show {
            display: block;

            .sidebar-minimized & {
                display: none;
            }

            .sidebar-minimized .sidebar:hover & {
                display: block;
            }
        }
    }


    
}