/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 65px;
    height: 100%;
    width: 250px;
    background-color: inherit;
    transition: width ease $transition;
    overflow: hidden;
    border-right: 1px solid;
    @include theme-aware('border-color', 'border-color-primary');

    .sidebar-minimize & {
        width: 58px;

        &:hover {
             width: 250px;
        }
    }
}

.sidebar-nav {
    width: 250px;
    padding: 20px 0;
    height: calc(100% - 65px);
    overflow: hidden;
    

    .nav-item.active {
        > .nav-link{
            color: $primary;
            @include theme-aware('background', 'bg-secondary');
            &::before {
                content: '';
                height: 100%;
                width: 3px;
                background: $primary;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
            }

            &-arrow {
                color: $primary;
            }
        }
    }
    .nav-link {
        @include display-flex;
        @include align-items(center);
        padding: 10px 20px;
        position: relative;
        font-weight: $font-weight-medium;
        transition: background ease $transition;

        i {
            font-size: 18px;
        }
        
        &:hover, &:active {
            @include theme-aware('background', 'bg-secondary');
            color: $primary;

            .nav-link-icon {
                transform: rotateY(180deg);
            }

            .nav-link-arrow {
                color: $primary;
            }
        }

        &-icon {
            margin-right: 15px;
            transition: transform ease $transition;
        }

        &-arrow {
            position: absolute;
            top: 50%;
            right: 30px;
            margin-top: -9px;
            transition: transform ease $transition;
            @include theme-aware('color', 'text-secondary');

            i {
                font-size: 14px;
            }
        }

        &-title {
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            transition: opacity ease $transition;
            .sidebar-minimize & {
                opacity: 0;
            }

            .sidebar-minimize .sidebar:hover & {
                opacity: 1;
            }
        }

         
    };

    .nav-collapsable.open {
        > .nav-link,  .nav-link-arrow{
            color: $primary;
        }
        .nav-link-arrow {
            transform: rotate(90deg);
        }
    }
    .nav-group {
        .nav-group-title {
            font-size: 11px;
            padding: 0 20px;
            margin-bottom: 8px;
            margin-top: 15px;
            @extend .text-uppercase;
            @extend .font-weight-semibold;
            @extend .text-secondary;
            height: 13px;
            overflow: hidden;
            transition: height ease $transition, opacity ease $transition, margin ease $transition;

            .sidebar-minimize & {
                opacity: 0;
                height: 0;
                margin: 0;
            }

            .sidebar-minimize .sidebar:hover & {
                opacity: 1;
                height: 13px;
                margin-bottom: 8px;
                margin-top: 15px;
            }
        }

        .sidebar-minimize .sidebar:hover &:first-child, &:first-child{
            .nav-group-title {
                margin-top: 0;
            }
        }
    }

    .nav-collapsable-items {
        display: none;
        > .nav-item {
            .nav-link {
                padding-left: 53px;
            }
        }

        &.show {
            display: block;

            .sidebar-minimize & {
                display: none;
            }

            .sidebar-minimize .sidebar:hover & {
                display: block;
            }
        }
    }


    
}