// Background
@each $name, $value in $colors {
  .bg-#{$name}{
    background-color: $value !important;
  }
}

.bg-gradient {
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 0.35) 0%, rgba(125, 185, 232, 0) 100%);
  }
}