// Font Weight
.font-weight-normal {
  font-weight: normal;
}
.font-weight-medium {
  font-weight: $font-weight-medium;
}

.font-weight-semibold {
  font-weight: $font-weight-semibold;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.font-weight-extrabold {
  font-weight: $font-weight-extrabold;
}