extends ../layouts/main.pug
block content
  include ./../mixins/breadscrumb.pug
  +breadscrumb([['Home', '/index.html']], 'Carousel')
  .row 
    .col-md-6
      .card
        .card-body 
          .card-title Carousel 1

    .col-md-6
      .card
        .card-body 
          .card-title Carousel 2