extends ../layouts/main.pug
block content
  include ./../mixins/breadscrumb.pug
  h2.page-title.d-inline-block.mr-lg-2.mb-1 Forms
  +breadscrumb([['Home', '/index.html']], 'Forms')
  .row 
    .col-12 
      .card 
        .card-body
          .card-title.font-weight-normal Basis 
          form
           .row 
            .col-sm-6 
              .form-group 
                label(for="email") Email 
                input.form-control(type="text" placeholder="Email") 
            .col-sm-6 
              .form-group 
                label(for="password") Password 
                input.form-control(type="password" placeholder="Password") 
            .col-sm-6 
              .form-group 
                label(for="address") Address 
                input.form-control(type="text" placeholder="Address") 
            .col-sm-6
              .form-group 
                label(for="address") Address 2 
                input.form-control(type="text" placeholder="Address 2") 
            .col-sm-6 
              .form-group 
                label(for="city") City 
                input.form-control(type="text" placeholder="City")
            .col-sm-6
              .row 
                .col-sm-6 
                  .form-group 
                    label(for="state") State 
                    select#state(name="state" placeholder="State").form-control
                      option(value="1") Option 1
                      option(value="2") Option 2
                      option(value="3") Option 3
                .col-sm-6
                  .form-group 
                    label(for="zip") Zip 
                    input.form-control(type="text" placeholder="Zip")
            .col-12 
              button.btn.btn-primary Submit  

              