*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

// Images
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-medium;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.5rem;
}

// List style
ul {
  list-style: none;
  padding-left: 0;
}

// Link
a {
  text-decoration: none;
  color: inherit;
}

// Button, Inputs
button, input, select, optgroup, textarea {
  border: 0;
  background: transparent;
  color: inherit;
  font-family: inherit;
  outline: 0;
}

button {
  cursor: pointer;
}

input::placeholder {
  color: var(--text-tertiary);
}
