.welcome-heading {
  margin-bottom: 25px;
}

[class^="col-"]{
  margin-bottom: 20px;
}

.stats {
  padding: 20px;
  color: $white;
  @include display-flex;
  @include align-items(center);
  @include justify-content(space-between);
  @include flex-wrap(wrap);

  &-title {
    margin-bottom: 10px;
    font-weight: $font-weight-medium;
  }

  &-info {
    text-align: center;
  }

  &-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $white;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    font-size: 3.5rem;

    .stats.bg-primary & {
      @include theme-aware('color', 'color-primary');;
    }

    .stats.bg-success & {
      color: $success;
    }

    .stats.bg-danger & {
      color: $danger;
    }

    .stats.bg-warning & {
      color: $warning;
    }
  }
}

.lastest-transactions {
  .card-header {
    border-bottom: none;
    padding-top: 20px;
  }

  table {
    > thead > th:not(:last-of-type){
      min-width: 130px;
    }
  }
}

.card {
  height: 100%;
}

.project-status {
  li {
    margin-bottom: 24px;
  }
  .status-label {
    margin-bottom: 15px;
    font-size: 1.3rem;
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);

    > span:last-of-type {
      @include theme-aware('color', 'text-tertiary');
    }
  }
}

.chart-container {
  height: 253px;
}