.welcome-heading {
  margin-bottom: 25px;
}

.stats {
  padding: 20px;
  color: $white;
  margin-bottom: 30px;
  @include display-flex;
  @include align-items(center);
  @include justify-content(space-between);
  @include flex-wrap(wrap);

  &-title {
    margin-bottom: 10px;
    font-weight: $font-weight-medium;
  }

  &-number {
    text-align: center;
  }

  &-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $white;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    font-size: 3.5rem;

    .stats.bg-primary & {
      @include theme-aware('color', 'primary-color');;
    }

    .stats.bg-success & {
      color: $success;
    }

    .stats.bg-danger & {
      color: $danger;
    }

    .stats.bg-warning & {
      color: $warning;
    }
  }
}

.lastest-transactions {
  .card-header {
    border-bottom: none;
    padding-top: 20px;
  }

  table {
    th {
      min-width: 130px;
    }
  }
}