/* Variables */
$primary:       $royal-blue !default;
$secondary:     $gray-600 !default;
$accent:        $cinnabar !default;
$success:       $eucalyptus !default;
$info:          $eastern-blue !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$transition: 0.4s;
$border-radius: 12px;
$font-family: 'Inter', sans-serif;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$box-shadow: 0 1px 4px 2px rgba(0, 0, 0, .1);

$themes: (
    'light': (
        'text-primary': $shark,
        'text-secondary': $mine-shaft,
        'text-tertiary': $gray,
        'bg-primary': $white,
        'bg-secondary': $concrete,
        'bg-tertiary': $alabaster,
        'border-color-primary': $mine-shaft-lighter,
        'border-color-secondary': $whisper
    )
)