.has-dropdown {
    position: relative;
}

.dropdown-header, .dropdown-footer {
    padding: 15px 20px;
}

.dropdown-menu {
    position: absolute;
    min-width: 10rem;
    padding: 8px 0;
    top: 100%;
    @include theme-aware('background', 'bg-primary');
    border: 1px solid;
    @include theme-aware('border-color', 'border-color-primary');
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    z-index: 1000;
    display: none;
}

.dropdown-menu.show {
    display: block;
}