.sidebar-overlay
aside.sidebar
  ul.sidebar-nav
    li.nav-group
      .nav-group-title Main
      ul.nav-group-items
        li.nav-item.active
          a.nav-link(role='button')
            span.nav-link-icon
              i.bx.bx-home-circle
            span.nav-link-title Dashboard
        li.nav-item.nav-collapsable
          a.nav-link.nav-link-toggle(role='button' data-target='componentsCollapse' aria-expanded='false')
            span.nav-link-icon
              i.bx.bx-layer
            span.nav-link-title Components
            span.nav-link-arrow
              i.bx.bxs-chevron-right
          ul#componentsCollapse.nav-collapsable-items
            li.nav-item
              a.nav-link
                span.nav-link-title Button
                span.nav-link-badge.badge.success 5
            li.nav-item
              a.nav-link
                span.nav-link-title Carousel
        li.nav-item.nav-collapsable
          a.nav-link.nav-link-toggle(role='button' data-target='pagesCollapse' aria-expanded='false')
            span.nav-link-icon
              i.bx.bx-heart
            span.nav-link-title Pages
            span.nav-link-arrow
              i.bx.bxs-chevron-right
          ul#pagesCollapse.nav-collapsable-items
            li.nav-item
              a.nav-link
                span.nav-link-title Login
            li.nav-item
              a.nav-link
                span.nav-link-title Register
            li.nav-item
              a.nav-link
                span.nav-link-title Page 404
            li.nav-item
              a.nav-link
                span.nav-link-title Bookmark 3