/* Variables */
:root {
  --font-family: 'Inter', sans-serif;
  --accent: #7774e7;
  --success: #37c936;
  --danger: #f3103c;
  --warning: #ffc107;
  --info: #17a2b8;
  --white: #ffffff;

  --font-weight-medium : 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}